page-select-trip {
    .list-trip {
        margin:0;
        border-bottom: 1px solid #eee;
    }
    p.movetime {
        text-align: right;
    }    
    .btn {
        border-radius: 0px !important;
        padding: 15px;
    }
    .grid{
        padding: 0;
    }
    .item-md {
        padding: 6px;
    }
    
}
