<ion-content padding>
  <ion-grid>
    <ion-row>
      <h2  style="color:#FFFCFC;font-weight:400;text-align:center;display: table;margin: 0 auto;">Post Trip Detials </h2>
    </ion-row>
    <ion-icon class="back-icon" name="arrow-back" (click)="goBack()"></ion-icon>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-label> Select Start Point  </ion-label>
      <ion-select [(ngModel)]="data.cityfrom" >
      <ion-option *ngFor="let point of points" value="{{point.cityfrom}}">{{point.cityfrom}}</ion-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Select Destination </ion-label>
      <ion-select [(ngModel)]="data.cityto" >
      <ion-option *ngFor="let point of points" value="{{point.cityto}}">{{point.cityto}}</ion-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Select Starting Time </ion-label>
      <ion-select [(ngModel)]="data.arrivetime">
      <ion-option *ngFor="let point of points" value="{{point.arrivetime}}">{{point.arrivetime}}</ion-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Avilable seats </ion-label>
      <ion-select [(ngModel)]="data.seats" >
      <ion-option *ngFor="let point of points" value="{{point.seats}}">{{point.seats}}</ion-option>
    </ion-select>
    </ion-item>
    <div style="margin-top: 30px;">
    <button ion-button class="btn" (click)="postTrip()"> Post Trip  </button>
  </div>
  </ion-list>
</ion-content>
