<ion-content padding>
  <ion-grid>
    <ion-row>
      <h2  style="color:#FFFCFC;font-weight:400;text-align:center;display: table;margin: 0 auto;">Passenger Profile </h2>
    </ion-row>
    <ion-icon class="back-icon" name="arrow-back" (click)="goBack()"></ion-icon>
    <ion-row>
      <img  *ngIf="session.user?.image == ''" src="assets/imgs/contact.jpg" style="display: block; border-radius: 50%;margin-bottom: 3px; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">

      <img  *ngIf="session.user?.image != ''" src="http://192.168.43.109/carpool/system/{{session.user?.image}}" style="display: block; border-radius: 50%;margin-bottom: 3px; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
    </ion-row>
    <div class="spacer" style="width: 300px; height:0px;"></div>

    <ion-item class="item-icon-left item-icon-right" id="passengerProfile-list-item47">
      <ion-label fixed>
        <ion-icon name="person"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="{{session.user?.username}}">
      </ion-input>
    </ion-item>
    <ion-item class="item-icon-left item-icon-right" id="passengerProfile-list-item48">
      <ion-label fixed>
        <ion-icon name="phone-portrait"></ion-icon>
      </ion-label>
        <ion-input type="tel" placeholder="{{session.user?.phone}}"></ion-input>
      </ion-item>
    <ion-item class="item-icon-left item-icon-right" id="passengerProfile-list-item50">
      <ion-label fixed>
        <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-input type="email" placeholder="{{session.user?.email}}"></ion-input>
    </ion-item>
    <ion-item  *ngFor="let p of result | slice:0:1; let i=index;"  class="item-icon-left item-icon-right" id="passengerProfile-list-item51">
       <ion-label fixed>
        <ion-icon name="cash"></ion-icon>
      </ion-label>
          <ion-input  type="number" placeholder="{{p?.points}} Points"></ion-input>
        </ion-item>
      
      <div class="spacer" style="width: 300px; height:10px;"></div>
      <button color="dark" class="btn"(click)="advertisement()">
        <ion-icon name="add"></ion-icon>
        Get More Points Now!</button>
        <div class="spacer" style="width: 300px; height:20px;"></div>
    <a (click)="selectTrip()"  class="link">
      <ion-icon name="repeat"></ion-icon>
      Switch to Driver </a>
</ion-grid>
</ion-content>
