<ion-menu side="left" [content]="content">
    <ion-content>
        <ion-list>
            <ion-grid  class="member-info">
                <ion-row *ngIf="session.user?.typeid=='1'" >
                  <ion-col class="col-img" menuClose (click)="goToProfilePassenger()">
                      <img class="member-img" *ngIf="session.user?.image != ''" src="http://localhost/carpool/system/{{session.user?.image}}">
                      <img class="member-img" *ngIf="session.user?.image == ''" src="assets/imgs/contact.jpg">
                  </ion-col>
                  <ion-col class="col-vis">
                    <span class="title-menu-2" color="bg-btn-secondary">
                      {{session.user?.username}}
                      <p *ngIf="session.user?.typeid=='1'" style="font-size: 14px;"> <ion-badge>Passenger</ion-badge></p>
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="session.user?.typeid=='2'">
                  <ion-col class="col-img" menuClose (click)="goToProfileDriver()">
                      <img class="member-img" *ngIf="session.user?.image != ''" src="http://localhost/carpool/system/{{session.user?.image}}">
                      <img class="member-img" *ngIf="session.user?.image == ''" src="assets/imgs/contact.jpg">
                  </ion-col>
                  <ion-col class="col-vis">
                    <span class="title-menu-2" color="bg-btn-secondary">
                      {{session.user?.username}}
                      <p *ngIf="session.user?.typeid=='2'" style="font-size: 14px;"> <ion-badge>Driver</ion-badge></p>
                    </span>
                  </ion-col>
                </ion-row>
              </ion-grid>
          <button class="bounce-top" menuClose ion-item (click)="home()" color="primary">
            <p class="title-menu" id="logout">
              <ion-icon ios="ios-albums" md="ios-home-outline"></ion-icon>
              <span class="menu-title">Home</span>
            </p>
          </button>
          <button class="bounce-top" menuClose ion-item *ngIf="session.user?.typeid=='2'" (click)="historyDriver()" color="primary">
            <p class="title-menu" id="logout">
              <ion-icon ios="ios-albums" md="ios-albums-outline"></ion-icon>
              <span class="menu-title">Posted Trips</span>
            </p>
          </button>
          <button class="bounce-top" menuClose ion-item *ngIf="session.user?.typeid=='1'" (click)="historyPassenger()" color="primary">
            <p class="title-menu" id="logout">
              <ion-icon ios="ios-albums" md="ios-albums-outline"></ion-icon>
              <span class="menu-title">Selected Trips</span>
            </p>
          </button>
            <button class="bounce-top" menuClose ion-item *ngFor="let p of pages" color="primary"
            (click)="openPage(p)">
            <p class="title-menu">
              <ion-icon ios="ios-code" md="{{p.icon}}" class="log-ico"></ion-icon>
              <span class="menu-title">{{p.title}}</span>
            </p>
          </button>
          <button class="bounce-top" menuClose ion-item *ngIf="session.user" (click)="logout()" color="primary">
            <p class="title-menu" id="logout">
              <ion-icon name="exit" class="log-ico"></ion-icon>
              <span class="menu-title">Logout</span>
            </p>
          </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
