page-history-driver {
    .ord-bg {
        background: #f8f8f8;
      }
      .card-md p {
          padding: 3px;
      }
      .order-img {
          width:300px;
          height: 150px;
      }
}
