page-posted-trip {
.person{
    font-size: 30px;
    color: white;
}
.info{
    float: right;
    font-size: 30px;
    color: white;
}
.button-md-light {
    width: 100%;
    color: #000;
    background-color: #f4f4f4;
    background: transparent;
    border: 1px solid #eee;
    font-size: 13px;}
    .ord-img {
        width: 100px;
        height: 100px;
        display: table;
        margin: 0 auto;
    }
}
