<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/imgs/logo.png" class="header-logo">
    </ion-title>
    <ion-buttons end>
      <!-- <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button> -->
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>  
<ion-row style="
background: #fff;
">
  <button ion-button class="btn-singin" block *ngIf="session.user?.typeid=='1'" (click)="selectTrip()">Select Trip</button>
  <button ion-button class="btn-singin" block *ngIf="session.user?.typeid=='2'" (click)="postTrip()">Post Trip</button>
</ion-row>
</ion-content>
